##**Telecom X Challenge**
Se trata de un proyecto para evaluar los conocimientos como asistente de an치lisis de datos de la empresa "Telecom X", con el proyecto "Churn de Clientes". La empresa enfrenta una alta tasa de cancelaciones y necesita comprender los factores que llevan a la p칠rdida de clientes.

#游늷 Extracci칩n

###Importar los datos de la API de Telecom X. Estos datos est치n disponibles en formato JSON y contienen informaci칩n esencial sobre los clientes, incluyendo datos demogr치ficos, tipo de servicio contratado y estado de evasi칩n.

In [8]:
import pandas as pd
import json
import numpy as np
import requests
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px

url = 'https://raw.githubusercontent.com/Lsanmart73/Challenger-Telecom-X/refs/heads/main/TelecomX_Data.json'
response = requests.get(url)
df = response.json()

In [9]:
telecomx = pd.read_json('https://raw.githubusercontent.com/Lsanmart73/Challenger-Telecom-X/refs/heads/main/TelecomX_Data.json')
telecomx

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
...,...,...,...,...,...,...
7262,9987-LUTYD,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
7263,9992-RRAMN,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
7264,9992-UJOEL,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
7265,9993-LHIEB,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Two year', 'PaperlessBilling': '..."
7266,9995-HOTOH,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'No', 'MultipleLines': 'No ph...","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Two year', 'PaperlessBilling': '..."

In [10]:
datos = pd.json_normalize(df, sep='_')
datos.head()

,customerID,Churn,customer_gender,customer_SeniorCitizen,customer_Partner,customer_Dependents,customer_tenure,phone_PhoneService,phone_MultipleLines,internet_InternetService,...,internet_OnlineBackup,internet_DeviceProtection,internet_TechSupport,internet_StreamingTV,internet_StreamingMovies,account_Contract,account_PaperlessBilling,account_PaymentMethod,account_Charges_Monthly,account_Charges_Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.4

In [11]:
datos.tail()

,customerID,Churn,customer_gender,customer_SeniorCitizen,customer_Partner,customer_Dependents,customer_tenure,phone_PhoneService,phone_MultipleLines,internet_InternetService,...,internet_OnlineBackup,internet_DeviceProtection,internet_TechSupport,internet_StreamingTV,internet_StreamingMovies,account_Contract,account_PaperlessBilling,account_PaymentMethod,account_Charges_Monthly,account_Charges_Total
7262,9987-LUTYD,No,Female,0,No,No,13,Yes,No,DSL,...,No,No,Yes,No,No,One year,No,Mailed check,55.15,742.9
7263,9992-RRAMN,Yes,Male,0,Yes,No,22,Yes,Yes,Fiber optic,...,No,No,No,No,Yes,Month-to-month,Yes,Electronic check,85.10,1873.7
7264,9992-UJOEL,No,Male,0,No,No,2,Yes,No,DSL,...,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,50.30,92.75
7265,9993-LHIEB,No,Male,0,Yes,Yes,67,Yes,No,DSL,...,No,Yes,Yes,No,Yes,Two year,No,Mailed check,67.85,4627.65
7266,9995-HOTOH,No,Male,0,Yes,Yes,63,No,No phone service,DSL,...,Yes,Yes,No,Yes,Yes,Two year,No,Electronic check,59.00,3707.6

In [12]:
datos.shape

(7267, 21)

In [13]:
datos.columns

Index(['customerID', 'Churn', 'customer_gender', 'customer_SeniorCitizen',
       'customer_Partner', 'customer_Dependents', 'customer_tenure',
       'phone_PhoneService', 'phone_MultipleLines', 'internet_InternetService',
       'internet_OnlineSecurity', 'internet_OnlineBackup',
       'internet_DeviceProtection', 'internet_TechSupport',
       'internet_StreamingTV', 'internet_StreamingMovies', 'account_Contract',
       'account_PaperlessBilling', 'account_PaymentMethod',
       'account_Charges_Monthly', 'account_Charges_Total'],
      dtype='object')

In [14]:
datos.isnull().sum()

customerID                   0
Churn                        0
customer_gender              0
customer_SeniorCitizen       0
customer_Partner             0
customer_Dependents          0
customer_tenure              0
phone_PhoneService           0
phone_MultipleLines          0
internet_InternetService     0
internet_OnlineSecurity      0
internet_OnlineBackup        0
internet_DeviceProtection    0
internet_TechSupport         0
internet_StreamingTV         0
internet_StreamingMovies     0
account_Contract             0
account_PaperlessBilling     0
account_PaymentMethod        0
account_Charges_Monthly      0
account_Charges_Total        0
dtype: int64

In [15]:
datos.reset_index(drop=True, inplace=True)
datos.head()

,customerID,Churn,customer_gender,customer_SeniorCitizen,customer_Partner,customer_Dependents,customer_tenure,phone_PhoneService,phone_MultipleLines,internet_InternetService,...,internet_OnlineBackup,internet_DeviceProtection,internet_TechSupport,internet_StreamingTV,internet_StreamingMovies,account_Contract,account_PaperlessBilling,account_PaymentMethod,account_Charges_Monthly,account_Charges_Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.4

#游댢 Transformaci칩n

In [22]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customerID                 7267 non-null   object
 1   Churn                      7267 non-null   object
 2   customer_gender            7267 non-null   object
 3   customer_SeniorCitizen     7267 non-null   int64
 4   customer_Partner           7267 non-null   object
 5   customer_Dependents        7267 non-null   object
 6   customer_tenure            7267 non-null   int64
 7   phone_PhoneService         7267 non-null   object
 8   phone_MultipleLines        7267 non-null   object
 9   internet_InternetService   7267 non-null   object
 10  internet_OnlineSecurity    7267 non-null   object
 11  internet_OnlineBackup      7267 non-null   object
 12  internet_DeviceProtection  7267 non-null   object
 13  internet_TechSupport       7267 non-null   object
 14  internet_StreamingTV       7267 non-null   object
 15  internet_StreamingMovies   7267 non-null   object
 16  account_Contract           7267 non-null   object
 17  account_PaperlessBilling   7267 non-null   object
 18  account_PaymentMethod      7267 non-null   object
 19  account_Charges_Monthly    7267 non-null   float64
 20  account_Charges_Total      7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

In [23]:
datos['account_Charges_Monthly'] = datos['account_Charges_Monthly'].astype(float)

In [24]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customerID                 7267 non-null   object
 1   Churn                      7267 non-null   object
 2   customer_gender            7267 non-null   object
 3   customer_SeniorCitizen     7267 non-null   int64
 4   customer_Partner           7267 non-null   object
 5   customer_Dependents        7267 non-null   object
 6   customer_tenure            7267 non-null   int64
 7   phone_PhoneService         7267 non-null   object
 8   phone_MultipleLines        7267 non-null   object
 9   internet_InternetService   7267 non-null   object
 10  internet_OnlineSecurity    7267 non-null   object
 11  internet_OnlineBackup      7267 non-null   object
 12  internet_DeviceProtection  7267 non-null   object
 13  internet_TechSupport       7267 non-null   object
 14  internet_StreamingTV       7267 non-null   object
 15  internet_StreamingMovies   7267 non-null   object
 16  account_Contract           7267 non-null   object
 17  account_PaperlessBilling   7267 non-null   object
 18  account_PaymentMethod      7267 non-null   object
 19  account_Charges_Monthly    7267 non-null   float64
 20  account_Charges_Total      7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

In [27]:
datos['account_Charges_Total'].value_counts()

account_Charges_Total
20.2       11
           11
19.75       9
19.55       9
19.9        9
           ..
1993.2      1
72.1        1
1237.85     1
542.4       1
593.3       1
Name: count, Length: 6531, dtype: int64

In [29]:
datos['account_Charges_Total'] = datos['account_Charges_Total'].str.replace(',', '').replace('$', '').replace(' ', '').replace('', None)

In [30]:
datos['account_Charges_Total'] = datos['account_Charges_Total'].astype(np.float64)

In [31]:
datos['account_Charges_Total'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 7267 entries, 0 to 7266
Series name: account_Charges_Total
Non-Null Count  Dtype
--------------  -----
7256 non-null   float64
dtypes: float64(1)
memory usage: 56.9 KB

In [33]:
datos['account_Charges_Total'].isna().value_counts()

account_Charges_Total
False    7256
True       11
Name: count, dtype: int64

In [34]:
total_nulos = datos['account_Charges_Total'].isna()
total_nulos

0       False
1       False
2       False
3       False
4       False
        ...
7262    False
7263    False
7264    False
7265    False
7266    False
Name: account_Charges_Total, Length: 7267, dtype: bool

In [35]:
datos[total_nulos]

,customerID,Churn,customer_gender,customer_SeniorCitizen,customer_Partner,customer_Dependents,customer_tenure,phone_PhoneService,phone_MultipleLines,internet_InternetService,...,internet_OnlineBackup,internet_DeviceProtection,internet_TechSupport,internet_StreamingTV,internet_StreamingMovies,account_Contract,account_PaperlessBilling,account_PaymentMethod,account_Charges_Monthly,account_Charges_Total
975,1371-DWPAZ,No,Female,0,Yes,Yes,0,No,No phone service,DSL,...,Yes,Yes,Yes,Yes,No,Two year,No,Credit card (automatic),56.05,NaN
1775,2520-SGTTA,No,Female,0,Yes,Yes,0,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.00,NaN
1955,2775-SEFEE,No,Male,0,No,Yes,0,Yes,Yes,DSL,...,Yes,No,Yes,No,No,Two year,Yes,Bank transfer (automatic),61.90,NaN
2075,2923-ARZLG,No,Male,0,Yes,Yes,0,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,One year,Yes,Mailed check,19.70,NaN
2232,3115-CZMZD,No,Male,0,No,Yes,0,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.25,NaN
2308,3213-VVOLG,No,Male,0,Yes,Yes,0,Yes,Yes,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.35,NaN
2930,4075-WKNIU,No,Female,0,Yes,Yes,0,Yes,Yes,DSL,...,Yes,Yes,Yes,Yes,No,Two year,No,Mailed check,73.35,NaN
3134,4367-NUYAO,No,Male,0,Yes,Yes,0,Yes,Yes,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.75,NaN
3203,4472-LVYGI,No,Female,0,Yes,Yes,0,No,No phone service,DSL,...,No,Yes,Yes,Yes,No,Two year,Yes,Bank transfer (automatic),52.55,NaN
4169,5709-LVOEQ,No,Female,0,Yes,Yes,0,Yes,No,DSL,...,Yes,Yes,No,Yes,Yes,Two year,No,Mailed check,80.85,NaN
5599,7644-OMVMY,No,Male,0,Yes,Yes,0,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,19.85,NaN

In [36]:
datos =datos.drop(datos[total_nulos].index, axis=0)

In [37]:
datos = datos.reset_index(drop=True)

In [38]:
datos.value_counts().sum()

np.int64(7256)

In [39]:
datos['account_Charges_Total'].isna().value_counts()

account_Charges_Total
False    7256
Name: count, dtype: int64

In [40]:
datos.sample(10)

,customerID,Churn,customer_gender,customer_SeniorCitizen,customer_Partner,customer_Dependents,customer_tenure,phone_PhoneService,phone_MultipleLines,internet_InternetService,...,internet_OnlineBackup,internet_DeviceProtection,internet_TechSupport,internet_StreamingTV,internet_StreamingMovies,account_Contract,account_PaperlessBilling,account_PaymentMethod,account_Charges_Monthly,account_Charges_Total
996,1399-UBQIU,No,Male,0,No,No,11,Yes,No,DSL,...,No,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,69.35,712.25
5317,7274-CGTOD,No,Male,0,No,No,62,No,No phone service,DSL,...,Yes,Yes,Yes,No,No,Two year,Yes,Bank transfer (automatic),43.70,2618.30
6120,8390-FESFV,No,Female,0,No,No,62,Yes,Yes,DSL,...,Yes,Yes,Yes,Yes,Yes,Two year,No,Bank transfer (automatic),84.50,5193.20
1108,1568-BEKZM,No,Male,1,Yes,No,70,Yes,Yes,DSL,...,Yes,Yes,Yes,Yes,Yes,Two year,No,Credit card (automatic),90.05,6333.40
721,1032-MAELW,No,Female,0,Yes,Yes,68,Yes,Yes,DSL,...,Yes,Yes,Yes,No,Yes,One year,Yes,Electronic check,78.45,5333.35
3430,4763-PGDPO,Yes,Female,0,No,No,4,Yes,No,Fiber optic,...,No,No,No,No,No,Month-to-month,No,Electronic check,70.40,281.00
4930,6741-EGCBI,No,Male,1,No,No,30,Yes,Yes,Fiber optic,...,No,No,No,No,Yes,Month-to-month,Yes,Credit card (automatic),90.50,2595.85
3895,5337-IIWKZ,No,Male,0,Yes,Yes,34,No,No phone service,DSL,...,No,Yes,Yes,Yes,No,Month-to-month,Yes,Electronic check,44.85,1442.60
1743,2479-BRAMR,Yes,Male,1,Yes,No,41,Yes,Yes,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Bank transfer (automatic),83.75,3273.55
2460,3442-ZHHCC,No,Male,0,No,No,68,Yes,Yes,DSL,...,Yes,Yes,No,No,Yes,One year,Yes,Credit card (automatic),76.90,5023.00

In [41]:
datos.nunique()

customerID                   7256
Churn                           3
customer_gender                 2
customer_SeniorCitizen          2
customer_Partner                2
customer_Dependents             2
customer_tenure                72
phone_PhoneService              2
phone_MultipleLines             3
internet_InternetService        3
internet_OnlineSecurity         3
internet_OnlineBackup           3
internet_DeviceProtection       3
internet_TechSupport            3
internet_StreamingTV            3
internet_StreamingMovies        3
account_Contract                3
account_PaperlessBilling        2
account_PaymentMethod           4
account_Charges_Monthly      1584
account_Charges_Total        6530
dtype: int64

In [42]:
cols_revisar = datos[['Churn','phone_MultipleLines','internet_InternetService','internet_OnlineSecurity','internet_OnlineBackup','internet_DeviceProtection','internet_TechSupport','internet_StreamingTV','internet_StreamingMovies','account_Contract','account_PaymentMethod']]

In [43]:

for col in cols_revisar:
    print(f"\n--- {col} ---")
    print(datos[col].value_counts())

--- Churn ---
Churn
No     5163
Yes    1869
        224
Name: count, dtype: int64

--- phone_MultipleLines ---
phone_MultipleLines
No                  3490
Yes                 3061
No phone service     705
Name: count, dtype: int64

--- internet_InternetService ---
internet_InternetService
Fiber optic    3198
DSL            2483
No             1575
Name: count, dtype: int64

--- internet_OnlineSecurity ---
internet_OnlineSecurity
No                     3607
Yes                    2074
No internet service    1575
Name: count, dtype: int64

--- internet_OnlineBackup ---
internet_OnlineBackup
No                     3181
Yes                    2500
No internet service    1575
Name: count, dtype: int64

--- internet_DeviceProtection ---
internet_DeviceProtection
No                     3194
Yes                    2487
No internet service    1575
Name: count, dtype: int64

--- internet_TechSupport ---
internet_TechSupport
No                     3581
Yes                    2100
No internet service    1575
Name: count, dtype: int64

--- internet_StreamingTV ---
internet_StreamingTV
No                     2895
Yes                    2786
No internet service    1575
Name: count, dtype: int64

--- internet_StreamingMovies ---
internet_StreamingMovies
No                     2866
Yes                    2815
No internet service    1575
Name: count, dtype: int64

--- account_Contract ---
account_Contract
Month-to-month    4005
Two year          1733
One year          1518
Name: count, dtype: int64

--- account_PaymentMethod ---
account_PaymentMethod
Electronic check             2445
Mailed check                 1657
Bank transfer (automatic)    1587
Credit card (automatic)      1567
Name: count, dtype: int64

In [44]:
#defino los diccionarios con la informaci칩n que debe llevar cada fila
mapeos = {
    # Columnas binarias simples Yes/No a 1/0
    'Churn': {'Yes': 1, 'No': 0},
    'customer_Partner': {'Yes': 1, 'No': 0},
    'customer_Dependents': {'Yes': 1, 'No': 0},
    'phone_PhoneService': {'Yes': 1, 'No': 0},
    'account_PaperlessBilling': {'Yes': 1, 'No': 0},

    # Columnas binarias con categor칤a especial (No phone/internet service) a 0, Yes a 1
    'phone_MultipleLines': {'Yes': 1, 'No': 0, 'No phone service': 0},
    'internet_OnlineSecurity': {'Yes': 1, 'No': 0, 'No internet service': 0},
    'internet_OnlineBackup': {'Yes': 1, 'No': 0, 'No internet service': 0}, #
    'internet_DeviceProtection': {'Yes': 1, 'No': 0, 'No internet service': 0},
    'internet_TechSupport': {'Yes': 1, 'No': 0, 'No internet service': 0},
    'internet_StreamingTV': {'Yes': 1, 'No': 0, 'No internet service': 0},
    'internet_StreamingMovies': {'Yes': 1, 'No': 0, 'No internet service': 0},

    #Columna descriptiva del cliente = gender
    'customer_gender' : {'Female': 1, 'Male': 0}
        }
    #La columna SeniorCitizen ya est치 en binario.

# Aplico los mapeos usando la herramienta .replace()
datos.replace(mapeos, inplace=True)

<ipython-input-44-43cdad444eb8>:25: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  datos.replace(mapeos, inplace=True)

In [45]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7256 entries, 0 to 7255
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customerID                 7256 non-null   object
 1   Churn                      7256 non-null   object
 2   customer_gender            7256 non-null   int64
 3   customer_SeniorCitizen     7256 non-null   int64
 4   customer_Partner           7256 non-null   int64
 5   customer_Dependents        7256 non-null   int64
 6   customer_tenure            7256 non-null   int64
 7   phone_PhoneService         7256 non-null   int64
 8   phone_MultipleLines        7256 non-null   int64
 9   internet_InternetService   7256 non-null   object
 10  internet_OnlineSecurity    7256 non-null   int64
 11  internet_OnlineBackup      7256 non-null   int64
 12  internet_DeviceProtection  7256 non-null   int64
 13  internet_TechSupport       7256 non-null   int64
 14  internet_StreamingTV       7256 non-null   int64
 15  internet_StreamingMovies   7256 non-null   int64
 16  account_Contract           7256 non-null   object
 17  account_PaperlessBilling   7256 non-null   int64
 18  account_PaymentMethod      7256 non-null   object
 19  account_Charges_Monthly    7256 non-null   float64
 20  account_Charges_Total      7256 non-null   float64
dtypes: float64(2), int64(14), object(5)
memory usage: 1.2+ MB

In [46]:
datos['Churn'].value_counts()

Churn
0    5163
1    1869
      224
Name: count, dtype: int64

In [47]:
churn_vacio = datos['Churn'].str.strip() == ''
datos[churn_vacio]

,customerID,Churn,customer_gender,customer_SeniorCitizen,customer_Partner,customer_Dependents,customer_tenure,phone_PhoneService,phone_MultipleLines,internet_InternetService,...,internet_OnlineBackup,internet_DeviceProtection,internet_TechSupport,internet_StreamingTV,internet_StreamingMovies,account_Contract,account_PaperlessBilling,account_PaymentMethod,account_Charges_Monthly,account_Charges_Total
30,0047-ZHDTW,,1,0,0,0,11,1,1,Fiber optic,...,0,0,0,0,0,Month-to-month,1,Bank transfer (automatic),79.00,929.30
75,0120-YZLQA,,0,0,0,0,71,1,0,No,...,0,0,0,0,0,Two year,1,Credit card (automatic),19.90,1355.10
96,0154-QYHJU,,0,0,0,0,29,1,0,DSL,...,1,0,1,0,0,One year,1,Electronic check,58.75,1696.20
98,0162-RZGMZ,,1,1,0,0,5,1,0,DSL,...,1,0,1,0,0,Month-to-month,0,Credit card (automatic),59.90,287.85
175,0274-VVQOQ,,0,1,1,0,65,1,1,Fiber optic,...,1,1,0,1,1,One year,1,Bank transfer (automatic),103.15,6792.45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7147,9840-GSRFX,,1,0,0,0,14,1,1,DSL,...,1,0,0,0,0,One year,1,Mailed check,54.25,773.20
7169,9872-RZQQB,,1,0,1,0,49,0,0,DSL,...,0,0,0,1,0,Month-to-month,0,Bank transfer (automatic),40.65,2070.75
7200,9920-GNDMB,,0,0,0,0,9,1,1,Fiber optic,...,0,0,0,0,0,Month-to-month,1,Electronic check,76.25,684.85
7228,9955-RVWSC,,1,0,1,1,67,1,0,No,...,0,0,0,0,0,Two year,1,Bank transfer (automatic),19.25,1372.90
7236,9966-VYRTZ,,1,0,1,1,31,1,0,No,...,0,0,0,0,0,Month-to-month,1,Mailed check,19.55,658.95

In [48]:
print(datos[churn_vacio].nunique())

customerID                   224
Churn                          1
customer_gender                2
customer_SeniorCitizen         2
customer_Partner               2
customer_Dependents            2
customer_tenure               64
phone_PhoneService             2
phone_MultipleLines            2
internet_InternetService       3
internet_OnlineSecurity        2
internet_OnlineBackup          2
internet_DeviceProtection      2
internet_TechSupport           2
internet_StreamingTV           2
internet_StreamingMovies       2
account_Contract               3
account_PaperlessBilling       2
account_PaymentMethod          4
account_Charges_Monthly      188
account_Charges_Total        223
dtype: int64

In [49]:
datos.loc[churn_vacio, 'Churn'] = 0

In [50]:
datos['Churn'] = datos['Churn'].astype(np.int64)
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7256 entries, 0 to 7255
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customerID                 7256 non-null   object
 1   Churn                      7256 non-null   int64
 2   customer_gender            7256 non-null   int64
 3   customer_SeniorCitizen     7256 non-null   int64
 4   customer_Partner           7256 non-null   int64
 5   customer_Dependents        7256 non-null   int64
 6   customer_tenure            7256 non-null   int64
 7   phone_PhoneService         7256 non-null   int64
 8   phone_MultipleLines        7256 non-null   int64
 9   internet_InternetService   7256 non-null   object
 10  internet_OnlineSecurity    7256 non-null   int64
 11  internet_OnlineBackup      7256 non-null   int64
 12  internet_DeviceProtection  7256 non-null   int64
 13  internet_TechSupport       7256 non-null   int64
 14  internet_StreamingTV       7256 non-null   int64
 15  internet_StreamingMovies   7256 non-null   int64
 16  account_Contract           7256 non-null   object
 17  account_PaperlessBilling   7256 non-null   int64
 18  account_PaymentMethod      7256 non-null   object
 19  account_Charges_Monthly    7256 non-null   float64
 20  account_Charges_Total      7256 non-null   float64
dtypes: float64(2), int64(15), object(4)
memory usage: 1.2+ MB

In [52]:
#Aplico la herramienta get_dummies para dividir las columnas

#InternetService
datos = pd.get_dummies(datos, columns=['internet_InternetService'], prefix=' ', dummy_na=False)

# Contract
datos = pd.get_dummies(datos, columns=['account_Contract'], prefix=' ', dummy_na=False)

# PaymentMethod
datos = pd.get_dummies(datos, columns=['account_PaymentMethod'], prefix=' ', dummy_na=False)

#compruebo

datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7256 entries, 0 to 7255
Data columns (total 28 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   customerID                   7256 non-null   object
 1   Churn                        7256 non-null   int64
 2   customer_gender              7256 non-null   int64
 3   customer_SeniorCitizen       7256 non-null   int64
 4   customer_Partner             7256 non-null   int64
 5   customer_Dependents          7256 non-null   int64
 6   customer_tenure              7256 non-null   int64
 7   phone_PhoneService           7256 non-null   int64
 8   phone_MultipleLines          7256 non-null   int64
 9   internet_OnlineSecurity      7256 non-null   int64
 10  internet_OnlineBackup        7256 non-null   int64
 11  internet_DeviceProtection    7256 non-null   int64
 12  internet_TechSupport         7256 non-null   int64
 13  internet_StreamingTV         7256 non-null   int64
 14  internet_StreamingMovies     7256 non-null   int64
 15  account_PaperlessBilling     7256 non-null   int64
 16  account_Charges_Monthly      7256 non-null   float64
 17  account_Charges_Total        7256 non-null   float64
 18   _DSL                        7256 non-null   bool
 19   _Fiber optic                7256 non-null   bool
 20   _No                         7256 non-null   bool
 21   _Month-to-month             7256 non-null   bool
 22   _One year                   7256 non-null   bool
 23   _Two year                   7256 non-null   bool
 24   _Bank transfer (automatic)  7256 non-null   bool
 25   _Credit card (automatic)    7256 non-null   bool
 26   _Electronic check           7256 non-null   bool
 27   _Mailed check               7256 non-null   bool
dtypes: bool(10), float64(2), int64(15), object(1)
memory usage: 1.1+ MB

In [53]:
#Las columnas nuevas que se crearon booleanas, las transformar칠 a tipo entero

for col in datos.columns:
    if datos[col].dtype == bool:
        datos[col] = datos[col].astype(int)

datos.sample(10)

,customerID,Churn,customer_gender,customer_SeniorCitizen,customer_Partner,customer_Dependents,customer_tenure,phone_PhoneService,phone_MultipleLines,internet_OnlineSecurity,...,_DSL,_Fiber optic,_No,_Month-to-month,_One year,_Two year,_Bank transfer (automatic),_Credit card (automatic),_Electronic check,_Mailed check
6545,9018-PCIOK,0,1,0,0,0,55,1,0,0,...,1,0,0,0,0,1,0,0,0,1
2623,3663-MITLP,1,1,0,0,0,15,1,0,0,...,0,1,0,1,0,0,0,0,1,0
295,0426-TIRNE,1,1,0,0,0,1,1,0,0,...,0,0,1,1,0,0,0,0,0,1
7085,9773-PEQBZ,0,0,0,0,0,10,1,1,0,...,0,1,0,1,0,0,0,0,1,0
3158,4422-QVIJA,0,1,0,0,1,35,1,1,0,...,1,0,0,1,0,0,0,0,0,1
2420,3391-JSQEW,0,0,0,1,0,40,1,0,0,...,1,0,0,1,0,0,0,0,0,1
1902,2692-AQCPF,0,1,0,1,0,65,1,1,0,...,0,1,0,0,1,0,0,1,0,0
2705,3754-DXMRT,1,0,1,0,0,2,1,0,0,...,1,0,0,1,0,0,0,0,1,0
4684,6429-SHBCB,0,0,0,0,0,19,1,1,0,...,1,0,0,1,0,0,0,0,0,1
5450,7481-ATQQS,1,1,1,0,0,49,1,1,0,...,0,1,0,1,0,0,0,1,0,0

In [54]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7256 entries, 0 to 7255
Data columns (total 28 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   customerID                   7256 non-null   object
 1   Churn                        7256 non-null   int64
 2   customer_gender              7256 non-null   int64
 3   customer_SeniorCitizen       7256 non-null   int64
 4   customer_Partner             7256 non-null   int64
 5   customer_Dependents          7256 non-null   int64
 6   customer_tenure              7256 non-null   int64
 7   phone_PhoneService           7256 non-null   int64
 8   phone_MultipleLines          7256 non-null   int64
 9   internet_OnlineSecurity      7256 non-null   int64
 10  internet_OnlineBackup        7256 non-null   int64
 11  internet_DeviceProtection    7256 non-null   int64
 12  internet_TechSupport         7256 non-null   int64
 13  internet_StreamingTV         7256 non-null   int64
 14  internet_StreamingMovies     7256 non-null   int64
 15  account_PaperlessBilling     7256 non-null   int64
 16  account_Charges_Monthly      7256 non-null   float64
 17  account_Charges_Total        7256 non-null   float64
 18   _DSL                        7256 non-null   int64
 19   _Fiber optic                7256 non-null   int64
 20   _No                         7256 non-null   int64
 21   _Month-to-month             7256 non-null   int64
 22   _One year                   7256 non-null   int64
 23   _Two year                   7256 non-null   int64
 24   _Bank transfer (automatic)  7256 non-null   int64
 25   _Credit card (automatic)    7256 non-null   int64
 26   _Electronic check           7256 non-null   int64
 27   _Mailed check               7256 non-null   int64
dtypes: float64(2), int64(25), object(1)
memory usage: 1.6+ MB

####En este punto ya todos los datos est치n estandarizados, pero el DF est치 desordenado. Se organiza, trasladando las columnas de _No, _DSL y _Fiber optic antes de la columna internet_OnlineSecurity y pasar칠 las columnas account_Charges.Monthtly y account_Charges.Total al final.

In [57]:
# 1. Agrupo las columnas que quieiro mover
col_grupo1 = [' _No', ' _DSL', ' _Fiber optic']
col_grupo2 = ['account_Charges_Monthly', 'account_Charges_Total']

# 2. Obtengo todas las columnas actuales
col_actuales = datos.columns.tolist()

# 3. Inicio la lista del nuevo orden
nuevo_orden = []

#A침ado las columnas que van antes de 'OnlineSecurity'
for col in col_actuales:
    if col == 'internet_OnlineSecurity':
        break
    if col not in col_grupo1 + col_grupo2:
         nuevo_orden.append(col)

# A침ado las columnas del grupo de internet
for col_internet in col_grupo1:
    if col_internet in datos.columns:
        nuevo_orden.append(col_internet)

#A침ado 'OnlineSecurity' y el resto de columnas que van despu칠s
if 'internet_OnlineSecurity' in datos.columns:
     nuevo_orden.append('internet_OnlineSecurity')

     indice_referencia = col_actuales.index('internet_OnlineSecurity')
     for col in col_actuales[indice_referencia + 1:]:
         if col not in col_grupo1 + col_grupo2:
             nuevo_orden.append(col)

# 4. A침ado las columnas de precios al final
for col_precio in col_grupo2:
    if col_precio in datos.columns:
        nuevo_orden.append(col_precio)


# Verifico
print("\nNuevo orden de columnas:")
print(nuevo_orden)

Nuevo orden de columnas:
['customerID', 'Churn', 'customer_gender', 'customer_SeniorCitizen', 'customer_Partner', 'customer_Dependents', 'customer_tenure', 'phone_PhoneService', 'phone_MultipleLines', ' _No', ' _DSL', ' _Fiber optic', 'internet_OnlineSecurity', 'internet_OnlineBackup', 'internet_DeviceProtection', 'internet_TechSupport', 'internet_StreamingTV', 'internet_StreamingMovies', 'account_PaperlessBilling', ' _Month-to-month', ' _One year', ' _Two year', ' _Bank transfer (automatic)', ' _Credit card (automatic)', ' _Electronic check', ' _Mailed check', 'account_Charges_Monthly', 'account_Charges_Total']

In [58]:
#Guardo los cambios
datos_reorganizado = datos[nuevo_orden].copy()

datos = datos_reorganizado

datos.head()

,customerID,Churn,customer_gender,customer_SeniorCitizen,customer_Partner,customer_Dependents,customer_tenure,phone_PhoneService,phone_MultipleLines,_No,...,account_PaperlessBilling,_Month-to-month,_One year,_Two year,_Bank transfer (automatic),_Credit card (automatic),_Electronic check,_Mailed check,account_Charges_Monthly,account_Charges_Total
0,0002-ORFBO,0,1,0,1,1,9,1,0,0,...,1,0,1,0,0,0,0,1,65.6,593.30
1,0003-MKNFE,0,0,0,0,0,9,1,1,0,...,0,1,0,0,0,0,0,1,59.9,542.40
2,0004-TLHLJ,1,0,0,0,0,4,1,0,0,...,1,1,0,0,0,0,1,0,73.9,280.85
3,0011-IGKFF,1,0,1,1,0,13,1,0,0,...,1,1,0,0,0,0,1,0,98.0,1237.85
4,0013-EXCHZ,1,1,1,1,0,3,1,0,0,...,1,1,0,0,0,0,0,1,83.9,267.40

In [59]:

#primero elimino las columnas irrelevantes.

datos = datos.drop(datos[['customerID',' _No']], axis = 1)
datos.columns.tolist()

['Churn',
 'customer_gender',
 'customer_SeniorCitizen',
 'customer_Partner',
 'customer_Dependents',
 'customer_tenure',
 'phone_PhoneService',
 'phone_MultipleLines',
 ' _DSL',
 ' _Fiber optic',
 'internet_OnlineSecurity',
 'internet_OnlineBackup',
 'internet_DeviceProtection',
 'internet_TechSupport',
 'internet_StreamingTV',
 'internet_StreamingMovies',
 'account_PaperlessBilling',
 ' _Month-to-month',
 ' _One year',
 ' _Two year',
 ' _Bank transfer (automatic)',
 ' _Credit card (automatic)',
 ' _Electronic check',
 ' _Mailed check',
 'account_Charges_Monthly',
 'account_Charges_Total']

In [60]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7256 entries, 0 to 7255
Data columns (total 26 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Churn                        7256 non-null   int64
 1   customer_gender              7256 non-null   int64
 2   customer_SeniorCitizen       7256 non-null   int64
 3   customer_Partner             7256 non-null   int64
 4   customer_Dependents          7256 non-null   int64
 5   customer_tenure              7256 non-null   int64
 6   phone_PhoneService           7256 non-null   int64
 7   phone_MultipleLines          7256 non-null   int64
 8    _DSL                        7256 non-null   int64
 9    _Fiber optic                7256 non-null   int64
 10  internet_OnlineSecurity      7256 non-null   int64
 11  internet_OnlineBackup        7256 non-null   int64
 12  internet_DeviceProtection    7256 non-null   int64
 13  internet_TechSupport         7256 non-null   int64
 14  internet_StreamingTV         7256 non-null   int64
 15  internet_StreamingMovies     7256 non-null   int64
 16  account_PaperlessBilling     7256 non-null   int64
 17   _Month-to-month             7256 non-null   int64
 18   _One year                   7256 non-null   int64
 19   _Two year                   7256 non-null   int64
 20   _Bank transfer (automatic)  7256 non-null   int64
 21   _Credit card (automatic)    7256 non-null   int64
 22   _Electronic check           7256 non-null   int64
 23   _Mailed check               7256 non-null   int64
 24  account_Charges_Monthly      7256 non-null   float64
 25  account_Charges_Total        7256 non-null   float64
dtypes: float64(2), int64(24)
memory usage: 1.4 MB

In [67]:
#Ahora, antes de crear la columna de Cuentas_diarias, cambiar칠 los nombres de las
#columnas, para que el estudio sea m치s entendible

nombres_nuevos = {
    'Churn': 'Cancelacion',
    'customer_gender': 'G칠nero',
    'customer_SeniorCitizen': 'Jubilado',
    'customer_Partner': 'Pareja',
    'customer_Dependents': 'Dependientes',
    'customer_tenure': 'Meses_contrato',
    'phone_PhoneService': 'Servicio_telefonico',
    'phone_MultipleLines': 'Multiples_lineas',
    ' _Fiber optic' : 'Fibra_optica',
    ' _DSL': 'DSL',
    'internet_OnlineSecurity': 'Seguridad_Ol',
    'internet_OnlineBackup': 'Backup_Ol',
    'internet_DeviceProtection': 'Proteccion_dispositivo',
    'internet_TechSupport': 'Soporte_tecnico',
    'internet_StreamingTV': 'Streaming_TV',
    'internet_StreamingMovies': 'Streaming_peliculas',
    ' _Month-to-month': 'Contrato_Mensual',
    ' _One year': 'Contrato_Anual',
    ' _Two year': 'Contrato_Bianual',
    'account_PaperlessBilling': 'Facturacion_electronica',
    'account_Charges_Monthly': 'Cuentas_mensuales',
    'account_Charges_Total': 'Cuentas_totales',
    ' _Bank transfer (automatic)': 'Pago_Trf.Bancaria_Auto',
    ' _Credit card (automatic)': 'Pago_TCredito_Auto',
    ' _Electronic check': 'Pago_ChequeElectronico',
    ' _Mailed check': 'Pago_ChequePorCorreo',
}

In [69]:
#Ahora cambio los nombres con la herramienta .rename

datos.rename(columns=nombres_nuevos, inplace=True)

In [70]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7256 entries, 0 to 7255
Data columns (total 26 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Cancelacion              7256 non-null   int64
 1   G칠nero                   7256 non-null   int64
 2   Jubilado                 7256 non-null   int64
 3   Pareja                   7256 non-null   int64
 4   Dependientes             7256 non-null   int64
 5   Meses_contrato           7256 non-null   int64
 6   Servicio_telefonico      7256 non-null   int64
 7   Multiples_lineas         7256 non-null   int64
 8   DSL                      7256 non-null   int64
 9   Fibra_optica             7256 non-null   int64
 10  Seguridad_Ol             7256 non-null   int64
 11  Backup_Ol                7256 non-null   int64
 12  Proteccion_dispositivo   7256 non-null   int64
 13  Soporte_tecnico          7256 non-null   int64
 14  Streaming_TV             7256 non-null   int64
 15  Streaming_peliculas      7256 non-null   int64
 16  Facturacion_electronica  7256 non-null   int64
 17  Contrato_Mensual         7256 non-null   int64
 18  Contrato_Anual           7256 non-null   int64
 19  Contrato_Bianual         7256 non-null   int64
 20  Pago_Trf.Bancaria_Auto   7256 non-null   int64
 21  Pago_TCredito_Auto       7256 non-null   int64
 22  Pago_ChequeElectronico   7256 non-null   int64
 23  Pago_ChequePorCorreo     7256 non-null   int64
 24  Cuentas_mensuales        7256 non-null   float64
 25  Cuentas_totales          7256 non-null   float64
dtypes: float64(2), int64(24)
memory usage: 1.4 MB

In [71]:
#Ahora crear칠 la coolumna de Cuentas_diarias
dias_mes = 30
datos['Cuentas_diarias'] = datos['Cuentas_mensuales'] / dias_mes
datos.sample(10)

,Cancelacion,G칠nero,Jubilado,Pareja,Dependientes,Meses_contrato,Servicio_telefonico,Multiples_lineas,DSL,Fibra_optica,...,Contrato_Mensual,Contrato_Anual,Contrato_Bianual,Pago_Trf.Bancaria_Auto,Pago_TCredito_Auto,Pago_ChequeElectronico,Pago_ChequePorCorreo,Cuentas_mensuales,Cuentas_totales,Cuentas_diarias
3607,0,0,0,0,0,17,0,0,1,0,...,1,0,0,0,1,0,0,25.10,382.80,0.836667
912,0,0,0,0,0,28,1,0,0,1,...,1,0,0,0,0,1,0,91.00,2626.15,3.033333
5682,0,0,1,1,0,45,1,1,1,0,...,0,0,1,0,1,0,0,75.15,3480.35,2.505000
6243,0,0,0,1,1,38,1,0,1,0,...,0,1,0,0,0,1,0,74.05,2802.30,2.468333
1799,1,0,0,0,0,4,1,0,0,1,...,1,0,0,0,0,1,0,70.20,237.95,2.340000
7143,0,0,0,0,1,43,0,0,1,0,...,1,0,0,0,0,1,0,40.45,1912.85,1.348333
1723,0,1,1,1,0,72,1,1,0,0,...,0,0,1,0,1,0,0,25.70,1937.40,0.856667
4436,0,1,0,1,1,64,1,1,0,0,...,0,1,0,0,0,0,1,24.90,1595.50,0.830000
2813,0,0,1,1,0,68,0,0,1,0,...,0,0,1,0,0,1,0,41.95,2965.75,1.398333
2223,0,0,0,1,1,25,1,0,1,0,...,1,0,0,0,0,1,0,54.30,1296.80,1.810000

#游늵 Carga y an치lisis

###En esta etapa, el reto es revisar los datos previamente tratados y organizados, para analizar cu치l es el motivo de la cancelaci칩n de clientes.

In [72]:

#comienzo agrupando los datos Cancelaci칩n
cancelaron = datos['Cancelacion'] == 1

no_cancelaron = datos['Cancelacion'] == 0

In [73]:

datos[cancelaron].describe()

,Cancelacion,G칠nero,Jubilado,Pareja,Dependientes,Meses_contrato,Servicio_telefonico,Multiples_lineas,DSL,Fibra_optica,...,Contrato_Mensual,Contrato_Anual,Contrato_Bianual,Pago_Trf.Bancaria_Auto,Pago_TCredito_Auto,Pago_ChequeElectronico,Pago_ChequePorCorreo,Cuentas_mensuales,Cuentas_totales,Cuentas_diarias
count,1869.0,1869.000000,1869.000000,1869.000000,1869.000000,1869.000000,1869.000000,1869.000000,1869.000000,1869.000000,...,1869.000000,1869.000000,1869.000000,1869.000000,1869.000000,1869.000000,1869.000000,1869.000000,1869.000000,1869.000000
mean,1.0,0.502408,0.254682,0.357945,0.174425,17.979133,0.909042,0.454789,0.245586,0.693954,...,0.885500,0.088818,0.025682,0.138042,0.124131,0.573034,0.164794,74.441332,1531.796094,2.481378
std,0.0,0.500128,0.435799,0.479524,0.379576,19.531123,0.287626,0.498085,0.430549,0.460972,...,0.318502,0.284556,0.158228,0.345036,0.329819,0.494770,0.371094,24.666053,1890.822994,0.822202
min,1.0,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,18.850000,18.850000,0.628333
25%,1.0,0.000000,0.000000,0.000000,0.000000,2.000000,1.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,56.150000,134.500000,1.871667
50%,1.0,1.000000,0.000000,0.000000,0.000000,10.000000,1.000000,0.000000,0.000000,1.000000,...,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,79.650000,703.550000,2.655000
75%,1.0,1.000000,1.000000,1.000000,0.000000,29.000000,1.000000,1.000000,0.000000,1.000000,...,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,94.200000,2331.300000,3.140000
max,1.0,1.000000,1.000000,1.000000,1.000000,72.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,118.350000,8684.800000,3.945000

In [74]:

datos[no_cancelaron].describe()

,Cancelacion,G칠nero,Jubilado,Pareja,Dependientes,Meses_contrato,Servicio_telefonico,Multiples_lineas,DSL,Fibra_optica,...,Contrato_Mensual,Contrato_Anual,Contrato_Bianual,Pago_Trf.Bancaria_Auto,Pago_TCredito_Auto,Pago_ChequeElectronico,Pago_ChequePorCorreo,Cuentas_mensuales,Cuentas_totales,Cuentas_diarias
count,5387.0,5387.000000,5387.000000,5387.000000,5387.000000,5387.000000,5387.000000,5387.000000,5387.000000,5387.000000,...,5387.000000,5387.000000,5387.000000,5387.000000,5387.000000,5387.000000,5387.000000,5387.000000,5387.000000,5387.000000
mean,0.0,0.491554,0.131056,0.527195,0.342306,37.397253,0.900687,0.410433,0.375719,0.352887,...,0.436235,0.250975,0.312790,0.246705,0.247819,0.255058,0.250418,61.394932,2540.440867,2.046498
std,0.0,0.499975,0.337493,0.499306,0.474525,24.144085,0.299110,0.491958,0.484353,0.477912,...,0.495963,0.433614,0.463673,0.431134,0.431786,0.435935,0.433294,31.106744,2330.360507,1.036891
min,0.0,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,18.250000,18.800000,0.608333
25%,0.0,0.000000,0.000000,0.000000,0.000000,14.000000,1.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,25.100000,568.000000,0.836667
50%,0.0,0.000000,0.000000,1.000000,0.000000,37.000000,1.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,64.550000,1669.400000,2.151667
75%,0.0,1.000000,0.000000,1.000000,1.000000,61.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000,88.700000,4247.825000,2.956667
max,0.0,1.000000,1.000000,1.000000,1.000000,72.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,118.750000,8672.450000,3.958333

#游늯Informe final